.wrapper {
  margin-top: 3.75rem;
}

.title {
}

.list {
  display: flex;
  margin-top: 1.25rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.item {
  width: calc(30% - 0.875rem);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem 0.625rem;
  border-radius: 0.625rem;
  background-color: var(--white-t05);
  color: var(--grey-7a);
}

.top {
  display: flex;
}

.icon {
}

.titleBlock {
}

.itemTitle {
}

.itemSubtitle {
}

.text {
}

.link {
  color: var(--blue-38);
  text-decoration: underline;
}
