.wrapper {
  margin-top: 2.9375rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.titleBlock {
  max-width: 24em;
  width: 100%;
}

.title {
  font-size: var(--fs-72-32);
  font-weight: 300;
  line-height: 1;
  text-align: right;
  margin-right: auto;

  &--hilight {
    color: transparent !important;
    -webkit-text-stroke: 1px var(--violet-79);
    text-stroke: 1px var(--violet-79);
    paint-order: stroke fill;
  }
}

.link {
  width: 12.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--violet-79);
  margin-top: 1.25rem;
  border-radius: 0.625rem;
  margin-left: auto;
  gap: 0.375rem;
  cursor: pointer;
  transition: 0.3s ease all;

  &:hover {
    background-color: var(--white);
    border: 1px solid var(--violet-79);
    color: var(--violet-79);

    svg path {
      fill: var(--violet-79);
    }
  }
}

.content {
  max-width: 50%;
  width: 100%;
}

.text {
  font-size: var(--fs-18-16);
  line-height: 1.49;
  font-weight: 300;
}

.subText {
  margin-top: 3.125rem;
  color: var(--violet-79);
  font-size: var(--fs-18-16);
  line-height: 1.49;
}

.options {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1.25rem;
  margin-left: auto;
  width: fit-content;
}

.optionsTitle {
  font-size: var(--fs-22-18);
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--grey-7a);
}

.optionsList {
  display: flex;
  gap: 1.25rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 0.25rem;
  align-items: center;
}

.itemImg {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.itemText {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 300;
  font-size: 0.625rem;
}

.itemLabel {
  position: absolute;
  top: 0;
  right: -0.625rem;
  display: block;
  border-radius: 0.4375rem;
  padding: 0.125rem 0.1875rem 0.125rem 0.3125rem;
  background-color: var(--green-00);
  color: var(--white);
  font-weight: 700;
  line-height: 1;
}

.label {
  display: block;
  margin-left: auto;
  line-height: 1.49;
  font-weight: 300;
  font-size: var(--fs-14-12);
  width: fit-content;
  margin-top: 1rem;
}

.road {
  display: flex;
  margin-top: 3.125rem;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
}

.roadItem {
  display: block;
  font-size: var(--fs-14-16);
  line-height: 1.49;
  font-weight: 300;
  color: var(--grey-7a);

  &:first-of-type {
    color: var(--violet-79);
    font-weight: 600;
  }

  &:nth-of-type(2) {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 5rem;
      height: 0.0625rem;
      top: calc(50% + 1px);
    }

    &::after {
      background-color: var(--violet-79);
      left: calc(-100% - 0.625rem);
    }

    &::before {
      background-color: var(--grey-7a);
      right: calc(-100% - 0.625rem);
    }
  }
}
