.wrapper {
}

.top {
  display: flex;
}

.titleBlock {
}

.title {
  &--hilight {
  }
}

.link {
}

.content {
}

.text {
}

.subText {
}

.options {
  display: flex;
}

.optionsTitle {
}

.optionsList {
  display: flex;
}

.item {
}

.itemImg {
}

.itemText {
}

.itemLabel {
}

.label {
}

.road {
  display: flex;
}

.roadItem {
}
