@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Consolas;
  src:
    url('../../public/fonts/Consolas.woff') format('woff'),
    url('../../public/fonts/Consolas.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Consolas;
  src:
    url('../../public/fonts/Consolas-Bold.woff') format('woff'),
    url('../../public/fonts/Consolas-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --grey-d4: #d4d4d4;
  --black-t25: rgba(0, 0, 0, 0.25);
  --white-t01: rgba(255, 255, 255, 0.01);
  --white-t05: rgba(255, 255, 255, 0.5);
  --red-ff: #ff2f54;
  --white: #fff;
  --grey-7a: #7a818b;

  //fonts
  --fs-24-32: 24px;
  --fs-10-12: 10px;
  --fs-14-16: 14px;

  @media screen and (min-width: 375px) {
    --fs-24-32: calc(24px + 8 * ((100vw - 375px) / 1065));
    --fs-10-12: calc(10 + 2 * ((100vw - 375px) / 1065));
    --fs-14-16: calc(14 + 2 * ((100vw - 375px) / 1065));
  }

  @media screen and (min-width: 1440px) {
    --fs-24-32: 32px;
    --fs-10-12: 12px;
    --fs-14-16: 16px;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, 'Roboto', sans-serif;
  width: 100%;
}

body {
  position: relative;
}

.max-width {
  max-width: 81.25rem;
  margin: 0 auto;
}

.consolas {
  font-family: Consolas, 'Consolas', sans-serif;
}
