@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Consolas;
  src:
    url('../../public/fonts/Consolas.woff') format('woff'),
    url('../../public/fonts/Consolas.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Consolas;
  src:
    url('../../public/fonts/Consolas-Bold.woff') format('woff'),
    url('../../public/fonts/Consolas-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --grey-d4: #d4d4d4;
  --white: #fff;
  --white-t05: rgba(255, 255, 255, 0.5);
  --grey-7a: #7a818b;
  --violet-79: #7958ff;
  --black-02: #02193a;
  --green-00: #00a666;
  --blue-38: #384bff;

  //fonts
  --fs-72-32: 32px;
  --fs-40-24: 24px;
  --fs-30-24: 24px;
  --fs-24-18: 18px;
  --fs-18-16: 16px;
  --fs-22-18: 18px;
  --fs-14-12: 12px;
  --fs-14-16: 14px;
  --fs-12-10: 10px;

  @media screen and (min-width: 375px) {
    --fs-72-32: calc(32px + 40 * ((100vw - 375px) / 1065));
    --fs-18-16: calc(16px + 2 * ((100vw - 375px) / 1065));
    --fs-22-18: calc(18px + 4 * ((100vw - 375px) / 1065));
    --fs-40-24: calc(24px + 16 * ((100vw - 375px) / 1065));
    --fs-30-24: calc(24px + 6 * ((100vw - 375px) / 1065));
    --fs-24-18: calc(18px + 6 * ((100vw - 375px) / 1065));
    --fs-14-12: calc(12px + 2 * ((100vw - 375px) / 1065));
    --fs-14-16: calc(14px + 2 * ((100vw - 375px) / 1065));
    --fs-12-10: calc(10px + 2 * ((100vw - 375px) / 1065));
  }

  @media screen and (min-width: 1440px) {
    --fs-72-32: 72px;
    --fs-18-16: 16px;
    --fs-22-18: 22px;
    --fs-40-24: 40px;
    --fs-30-24: 30px;
    --fs-14-12: 14px;
    --fs-14-16: 16px;
    --fs-24-18: 24px;
    --fs-12-10: 12px;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, 'Roboto', sans-serif;
  width: 100%;
  color: var(--black-02);
}

body {
  position: relative;
}

.max-width {
  max-width: 83.75rem;
  margin: 0 auto;
}

.consolas {
  font-family: Consolas, 'Consolas', sans-serif;
}

.title-hilight {
  background-color: var(--white);
  padding: 0 0.4375rem;
  border-radius: 0.4375rem;
  font-size: var(--fs-40-24);
  font-family: Consolas, 'Consolas', sans-serif;
  line-height: 1;
  width: fit-content;
  font-weight: 400;
}
