.main {
  margin: 0 auto;
}

.bg {
  position: relative;

  &--bottom {
  }

  &--color {
  }

  &--white {
    background-color: var(--white);
    padding: 2.5rem 0;
  }

  &--top {
    padding-bottom: 3.125rem;
  }
}

.bgImg {
  position: absolute;
  width: 100%;
  pointer-events: none;
  z-index: -1;

  &--left,
  &--right {
    top: -20%;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--bottom {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--medium {
    z-index: 1;
    top: -1.25rem;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
