.main {
  margin: 0 auto;
}

.bodyBg {
  position: relative;
  padding-bottom: 3.125rem;
}

.bg {
  position: relative;
  padding: 0 1.25rem;

  &--white {
    background-color: var(--white);
    padding: 2.5rem 0;
  }

  &--top {
    padding-bottom: 3.125rem;
  }
}

.bgImg {
  position: absolute;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  left: 0;
  right: 0;
  z-index: -1;

  &--medium {
    z-index: 1;
    top: -1.25rem;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &--top {
    top: -24.625rem;
  }

  &--bottom {
    bottom: -6rem;
  }
}
