.main {
  margin: 0 auto;
  // overflow: hidden;
}

.bg {
  position: relative;

  &--color {
  }

  &--white {
  }
}

.bgImg {
  position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  width: 100%;

  &--left,
  &--right {
    top: -9.6875rem;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
