.wrapper {
  margin: 3.75rem 1.25rem 0 1.25rem !important;
  border-radius: 2.5rem;
  background-color: var(--white-t05);
  padding: 2.5rem;
  position: relative;
  left: calc(50% + 1.25rem);
  transform: translate3d(calc(-50% - 2.5rem), 0, 0);
  max-width: 81.25rem !important;
}

.logo {
  overflow: visible;
}

.bottom {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.text {
  color: var(--grey-7a);
  font-size: var(--fs-14-16);
  line-height: 1.5;
  max-width: 55em;

  &--link {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
    color: var(--blue-38);
  }
}

@media (max-width: 56.25rem) {
  .bottom {
    flex-direction: column;
    gap: 2.5rem;
  }

  .text {
    max-width: none;
  }
}

@media (max-width: 31.25rem) {
  .logo {
    max-width: 90%;
  }
}
