.wrapper {
  margin: 3.75rem 1.25rem 3.125rem 1.25rem;
  border-radius: 2.5rem;
  background-color: var(--white-t05);
  padding: 2.5rem;
  position: relative;
  left: calc(50% + 1.25rem);
  transform: translate3d(calc(-50% - 2.5rem), 0, 0);
  max-width: 81.25rem;
}

.logo {
}

.bottom {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.text {
  color: var(--grey-7a);
  font-size: var(--fs-14-16);
  line-height: 1.5;
  max-width: 25.7em;
}

.nav {
  display: flex;
  gap: 1.25rem;
}

.navItem {
  color: var(--grey-7a);
  font-size: var(--fs-14-16);
  line-height: 1.5;
}
