.wrapper {
  margin-top: 3.125rem;
  padding: 0 1.25rem;
}

.title {
}

.list {
  display: flex;
  margin-top: 1.25rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.item {
  width: calc(30% - 0.875rem);
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 0.625rem;
  border-radius: 0.625rem;
  background-color: var(--white-t05);
  color: var(--grey-7a);
}

.itemTitle {
  font-size: var(--fs-14-16);
  line-height: 1.49;
}

.icon {
}

@media (max-width: 56.25rem) {
  .list {
    flex-direction: column;
  }

  .item {
    width: 100%;
  }
}
