.wrapper {
  position: relative;
}

.title {
  font-size: var(--fs-30-24);
  line-height: 1;
  font-weight: 400;
}

.text {
  color: var(--grey-7a);
  font-size: var(--fs-18-16);
  line-height: 1.5;
  margin-top: 1.625rem;
  max-width: 54.5em;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.625rem;
  gap: 0.625rem;
}

.item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--white);
  overflow: hidden;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.5;
  }
}

.icon {
}

.bgImg {
  position: absolute;
  width: auto;
  max-height: 18.75rem;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
}

@media (max-width: 87.5rem) {
  .text {
    max-width: 50%;
  }
}

@media (max-width: 56.25rem) {
  .bgImg {
    display: none;
  }

  .text {
    max-width: none;
  }
}
